<!DOCTYPE html> 
<html>
    <head>
        <title> Demo </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
        <body>
            <h1 class ="text-center" > Hello World </h1>
            <form class ="p-3 text-center" action='/' , method ="post" enctype="multipart/form-data">
                <input class = "form-control" type = "file" name = "imagefile">
                <input class = "btn btn-primary mt-3" type ="submit" value ="Predict Image">

            </form>

            {% if prediction %}
                <p class = "text-center"> Image is a {{prediction}} </p>
            {% endif %}
        </body>
    </head>
</html>